<html>
<body>
<h1> Cadastro de animais</h1>
<form method="POST">
    {%csrf_token%}
    {{msg}}<br>
    Nome do dono<br>
    <input type="text" name="nome_dono" value="{{pets.nome_dono}}"/><br>
    Telefone<br>
    <input type="text" name="telefone" value="{{pets.telefone}}"/><br>
    Nome do animal<br>
    <input type="text" name="nome_animal" value="{{pets.nome_animal}}"/><br>
    Raca<br>
    <input type="text" name="raca" value="{{pets.raca}}"/><br>
    Características<br>
    <input type="text" name="caracteristicas"  value="{{pets.caracteristicas}}"/> <br>
    <input type="hidden" name="pk" value="{{pets.pk}}"/><br>
   <button type="submit" name="action" value="save">Salvar</button>

</form>
<form method="GET" action="/bichos">
    <button type="submit">Listar</button>
</form>
</body>
</html>